# Archivo para explorar y realizar código prueba

Favor de escribir tu nombre y un comentario si has visitado este notebook.

Nombres:

rodrigo_hernández_mota
daniela_guerra_alcalá

Comentarios anónimos:

Hola, bienvenidos a Jupyter. Esto es un comentario anónimo. Espero leer algún escrito de vida intelignte pronto. hashtag_bye

## Generalidades

### Títulos

Los títulos anteriores fueron hechos de la siguiente forma:

# Hacer título 01
## Generalidades

Es posible tener diferentes tamaños de títulos. Por ejemplo, los títulos enumerados en Alemán:

# título_eins

## título_zwei

### título_drei

#### título_vier

##### título_fünf

El código:

# título_eins
## título_zwei
### título_drei
#### título_vier
##### título_fünf

### Shortcuts

Algunas abrevaciones que he encontrado útiles. Agregen las que consideren prudentes.

Shift+Enter : correr celda y pasar a la siguiente
Ctrl+Enter  : correr celda
Alt+Enter   : correr celda e insertar una.
Enter       : editar celda
Esc+Y       : convertir celda en "Code".
Esc+M       : convertir celda en "Markdown".
Esc+R       : convertir celda en "Raw". 
Esc+L       : enumerar una celda (como ésta).
Esc+B       : insertar celda debajo de la actual
Esc+S o Ctrl+S     : save and checkpoint.

Para ver más, [aquí](http://sowingseasons.com/blog/jupyter-keyboard-shortcuts.html).

_Código para hipervínculos y links:_

Para ver más, [aquí](http://sowingseasons.com/blog/jupyter-keyboard-shortcuts.html).

### Notación \LaTeX

Debido a que ya sabemos __LaTeX__, solamente se explicará lo básico. Se utilizan signos de dólar entre las ecuaciones que estén en la misma línea de oración y doble signo de dólar en las que están fuera de la línea de la oración.

Esto es una ecuación dentro de esta oración $\alpha^2 + \beta_i = \gamma_\omega^{2t}$. En cambio, esta ecuación está fuera de la línea de la oración: $$ \int \frac{d(f(\lambda))}{d\lambda}d\lambda = f(\lambda) $$ y representa una parte del teorema fundamental del cálculo parte II.

Más ecuaciones;

$$ \int_{-inf}^{inf} \frac{1}{\sigma\sqrt{2\pi}} e^{-\frac{1}{2}(x - \mu)^2} dx$$

$$ \frac{dS_t}{S_t} = ( \mu - \frac{\sigma^2}{2} ) dt + \sigma \epsilon \sqrt{dt} $$

[agregar más]

Código:

Esto es una ecuación dentro de esta oración $\alpha^2 + \beta_i = \gamma_\omega^{2t}$. En cambio, esta ecuación está fuera de la línea de la oración: $$ \int \frac{d(f(\lambda)}{d\lambda}d\lambda = f(\lambda) $$ y representa una parte del teorema fundamental del cálculo parte II.

## Códigos, pandas y python

Ahora se dicutirán temas referentes a los pandas en Júpiter (astropandas) y sobre como utilizarlos en python3 que descargamos de anaconda.

### Lo más básico

Aspectos básicos de Python. Triviales. Correr para entender.

In [ ]:
a = 1 + 58632 ** (1/3) - 5
a

In [ ]:
a += 1
a

In [ ]:
a -= a - 35
a

In [ ]:
mi_nombre = "no_soy_rodrigo"
mi_nombre + "_ni_tú_tampoco."

In [ ]:
print(3.141516-3+1/3)

In [ ]:
type(2.7)

In [ ]:
type(2)

Ahora se presentan las listas.

In [1]:
esto_es_una_lista = [1,2,3,4]
esto_es_una_lista

[1, 2, 3, 4]

In [2]:
esto_es_una_lista + [5,6]

[1, 2, 3, 4, 5, 6]

In [3]:
esto_es_una_lista += [5,6,7,8]
esto_es_una_lista

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
esto_es_una_lista.append(9)
esto_es_una_lista

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
esto_es_otra_lista = [486, 573]
esto_es_una_lista += esto_es_otra_lista
esto_es_una_lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 486, 573]

In [134]:
print(esto_es_una_lista[-11])
print(len(esto_es_una_lista))
print(esto_es_una_lista.index.get_loc(7))

1
11

AttributeError: 'builtin_function_or_method' object has no attribute 'get_loc'

Ahora vamos por los diccionarios.

In [6]:
dict = {"nombre":"danny", "altura":170}
dict

{'altura': 170, 'nombre': 'danny'}

In [7]:
dict["nombre"]

'danny'

In [9]:
dict["peso"]=54

In [10]:
dict.values()

dict_values([54, 'danny', 170])

In [11]:
dict.keys()

dict_keys(['peso', 'nombre', 'altura'])

Otras utilidades

In [16]:
len(esto_es_una_lista) # length

11

In [14]:
esto_es_una_lista[0:5]

[1, 2, 3, 4, 5]

In [17]:
esto_es_una_lista[0:5:2]

[1, 3, 5]

In [15]:
esto_es_una_lista[-1] # último valor, -2 penútimo etc...

573

### Loops y condicionales

#### for loops

In [18]:
for counter in [1,2,3,4]:
    print(counter)

1
2
3
4

In [19]:
for counter in range(5):
    print(counter)

0
1
2
3
4

In [22]:
for counter in range(2,10,2):
    print(counter)

2
4
6
8

__Nota__: no se alcanza al último valor cuando se utiliza un for. La razón de esto es para que esta sintáxis sea válida:

In [20]:
list(range(1,10))==list(range(1,5))+list(range(5,10))

True

#### while loops

In [21]:
counter = 1
while counter < 5:
    print(counter)
    counter+=1

1
2
3
4

#### if ... else

In [24]:
abecede = 42
if abecede == 42:
    print("yeah!")
else:
    print("huh...")

yeah!

In [1]:
soledad = 0.42367
if soledad >= 0.75:
    print("Ah.")
elif soledad >= 0.5:
    print("Eh.")
elif soledad >= 0.25:
    print("Ih °°)")
else:
    print("Ohoh.")

Ih °°)

### Funciones

In [34]:
def func_un(h):
    """
    Esta función no hace nada relevante
    
    Parameters:
    ===========
    h int
    
    return h**2 - 5
    
    """
    val = h**2 - 5
    return val

func_un(7)  # nota, presionar Shift+tabs para ver info relevnate de la función

44

### Matplot, pandas etc - experimentación

Experimentación con gráficas utilizando **matplot**.

In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [3]:
x = [0, 1, 2]
y = [0, 1, 4]

fig = plt.figure()             # se define una figura
axes = fig.add_subplot(111)    # se define que se trabajará con una subfig

axes.plot(x,y)

plt.show()                     # mostrar

In [42]:
x_h = np.linspace(0,2,20)      # llena los espacios entre 0 y 2 con 20 datos
y_h = x_h ** 2

fig = plt.figure()             # se define una figura
axes = fig.add_subplot(111)    # se define que se trabajará con una subfig

axes.plot(x,y)
axes.plot(x_h, y_h)

plt.show()

In [135]:
fig = plt.figure()             # se define una figura
axes = fig.add_subplot(111)    # se define que se trabajará con una subfig

axes.plot(x_h, y_h, color = "red", linestyle='dashed')
axes.set_title("$y=x^2$")
#axes.grid()
axes.set_xlabel("x")
axes.set_ylabel("y")

plt.show()

Experimentación con **pandas**.

In [45]:
import numpy as np
import pandas as pd

In [49]:
x = pd.Series([1,2,3,4,5])
print(x)
print(x > 2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    False
1    False
2     True
3     True
4     True
dtype: bool

Para evitar loops...

Si se desea saber si hay al menos un valor mayor que Y o si todos son mayores que Y utilizar lo siguiente:

In [54]:
larger_than_2 = x > 2
print(larger_than_2.any()) # al menos uno
print(larger_than_2.all()) # todos

True
False

Para aplicar una función a todos los datos de la serie sin tener que usar loops:

In [55]:
def f(x):
    if x % 2 == 0:
        return x * 2
    else:
        return x * 3
    
x.apply(f)

0     3
1     4
2     9
3     8
4    15
dtype: int64

Se demuestra la eficiencia de no usar ciclos.

In [60]:
%%timeit

ds = pd.Series(range(10000))

for counter in range(len(ds)):
    ds[counter]=f(ds[counter])

1 loops, best of 3: 741 ms per loop

In [61]:
%%timeit

ds = pd.Series(range(10000))

ds = ds.apply(f)

10 loops, best of 3: 46.7 ms per loop

In [69]:
data = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(data, columns=["x"])
df

   x
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [70]:
df["x"][0]

1

In [72]:
df["x+2"] = df["x"]+2
df

   x  x+2
0  1    3
1  2    4
2  3    5
3  4    6
4  5    7
5  6    8
6  7    9
7  8   10
8  9   11

Descarga de precios de un activo financiero (divisas) y análisis

In [1]:
import datetime as dat
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

t_fina = dat.datetime.today()
t_inic = t_fina
delt = dat.timedelta(days = 2*365)
t = t_fina.strftime('%Y-%m-%d')
t_inic -= delt
t0 = t_inic.strftime('%Y-%m-%d')
print(t0)
print(t)

2013-11-16
2015-11-16

In [2]:
url = "https://www.quandl.com/api/v3/datasets/BNP/USDMXN.csv?start_date="+t0
usdmxn  = pd.read_csv(url).sort("Date")
print(usdmxn[["Date","USD/MXN"]][0:5])

           Date  USD/MXN
729  2013-11-16  12.9348
728  2013-11-17  12.9346
727  2013-11-18  12.9033
726  2013-11-19  12.9027
725  2013-11-20  12.9842

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [110]:
usdmxn.describe()

          USD/MXN
count  730.000000
mean    14.338161
std      1.348034
min     12.846500
25%     13.095700
50%     13.591250
75%     15.378800
max     17.163100

In [ ]:
fig = plt.figure()             # se define una figura
axes = fig.add_subplot(111)    # se define que se trabajará con una subfig
axes.plot(range(0,len(usdmxn["Date"])),usdmxn["USD/MXN"])
axes.set_title("Tipo de cambio - USD/MXN")
axes.set_xlabel("Periodo de tiempo")
axes.set_ylabel("Pesos")

plt.show()